<h1>Welcome ! </h1>

{{> profileNavBar}}

<div>
    <div class="courses-taken">
        <h2>Courses taken</h2>
        <div class="champData">
            {{#unless courseTaken.length}}
            <p>No studying courses booked yet !</p>
            {{/unless}}    
            {{#each courseTaken}}        
            <p class="activity">Activity : {{this.skillsName.name}} </p>
            <p class="teacher">Teacher : {{this.teacher.name}}  </p>
            <p class="details">Details :{{this._id}} </p>
            <p class="Status">Status : {{this.exchangeStatus}} </p>
            
            <button class="lesson-done"><a href="/profile/finished/lessontaken/{{this._id}}">Lesson done</a></button>
            <button class="cancel"><a href="/profile/cancel/lessontaken/{{this._id}}">Cancel lesson</a></button>
            {{/each}}
        </div>
    <div class="courses-given">
        <div class="champData">
            <h2>Courses given</h2>
            {{#unless courseGiven.length}}
            <p>No given courses booked yet !</p>
            {{/unless}}
            {{#each courseGiven}}   
            <p class="activity">Activity : {{this.skillsName.name}} </p>
            <p class="student">Student : {{this.student.name}} </p>
            <p class="details">Details :  </p>
            {{!-- <form method="post" action="/profile/update/">
                <label for="select-status"></label>
                <select id="select-status" name="exchangeStatus">
                    <option value=""></option>
                    <option value=""></option>
                </select>
                <button>Update</button>
                </form> --}}
            <p class="Status">Status : {{this.exchangeStatus}} </p>
            
            <button class="lesson-approved"><a href="/profile/approve/lessongiven/{{this._id}}">Approve this leson</a></button>
            <button class="cancel"><a href="/profile/cancel/lessongiven/{{this._id}}">Cancel lesson</a></button>
            {{/each}}
        </div>
    </div>
    
    </div>
</div>