<h2>Your skills</h2>

{{!-- {{#unless user.skills.length}}
<p>Add your skills to join the community!</p>
<a href="">Add skill</a>
{{else}} --}}

<ul>
    {{#each user.skills}}
    <li>
        <p>{{this.name}}</p>
        <p>{{this.level}}</p>
        <p>{{this.category}}</p>
        <a href="skills/delete/{{_id}}">Delete</a>
        <a href="">Edit</a>
    </li>
    {{/each}}



    {{!-- inserer les liens pour delete and edit + add skill --}}